body._recoading {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
/* アバター */

#Avatar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 140px auto auto auto;
    z-index: 3;
    display: block;
    width: 200px;
    height: 200px;
    border-radius: 110px;
    border: 5px solid #D8D8D8;
    background-color: #fff;
    text-align: center;
    line-height: 200px;
    font-size: 150%;
}

/* マイクボタン */

#MicButton {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto auto 20px auto;
    z-index: 2;
    display: block;
    width: 130px;
    height: 130px;
    border-radius: 75px;
    outline: none;
    border: none;
    transition: 0.3s;
    color: #FFF;
    background-color: #EC407A;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

#MicButton:hover {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.3);
}

#MicButton i {
    font-size: 75px;
    opacity: 1;
}

body._recoading #MicButton {
    transform: scale(15);
    border-radius: 0px;
    pointer-events: none;
    cursor: default;
}

body._recoading #MicButton i {
    opacity: 0;
}

.chatView {
    background-color: #E2E2E2;
    display: block;
    padding: 10px;
    margin: 10px 10px 200px 10px;
}
/* 自分の発言 */

.chatView-item {
    display: block;
    text-align: right;
    margin: 20px 0;
}

.chatView-item span {
    display: inline-block;
    border-radius: 15px;
    background-color: #006cff;
    color: #ffffff;
    padding: 5px 10px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.2);
}
/* 相手の発言 */

.chatView-item.from_qavppytestbot {
    text-align: left;
}

.chatView-item.from_qavppytestbot span {
    background-color: #ffffff;
    color: #575757;
}
